    .form-login-body {
        background: black;
        border: 1px solid #42464b;
        border-radius: 6px;
        height: 200px;
        margin: 20px auto 0;
        width: 298px;
        color: white;
    }

    .input_login {
      border: 1px solid #a1a3a3;
      border-radius: 4px;
      box-shadow: 0 1px #fff;
      box-sizing: border-box;
      color: #696969;
      height: 30px;
      margin: 20px 0 0 29px;
      padding-left: 37px;
      transition: box-shadow 0.3s;
      width: 140px;
    }
    input[type="password"]:focus, input[type="text"]:focus {
      box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
      outline: 0;
    }

    .form-login-body h1 {
      background-image: linear-gradient(top, #f1f3f3, #d4dae0);
      border-bottom: 1px solid #a6abaf;
      border-radius: 6px 6px 0 0;
      box-sizing: border-box;
      color: #727678;
      display: block;
      height: 43px;
      font: 600 14px/1 'Open Sans', sans-serif;
      padding-top: 14px;
      margin: 0;
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
    }

    .wrapper { margin: 1em auto;
               max-width: 800px; 
               width: 95%; 
               font: 18px/1.5 sans-serif;
               background-color: black;
              }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }



    div.gallery {
      margin: 5px;
      border: 1px solid ;
      float: left;
      width: 180px;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.gallery:focus {
        outline-width: 1px;
        outline-style: dashed;
        outline-color: red;
    }

    button {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 2px 0;
      border: solid 1px transparent;
      border-radius: 4px;
      padding: 0.5em 1em;
      color: #ffffff;
      background-color: #9555af;
      
    }
    
    form {
      float:left;
      margin-right:5px;
    }

    button:hover {
      color: #9050AA;
      border-color: currentColor;
      background-color: white;
    }

    a:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
        0 0 0 1.5px rgba(255, 105, 180, 0.5);
    }

       a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 2px 0;
      border: solid 1px transparent;
      border-radius: 4px;
      padding: 0.5em 1em;
      color: #ffffff;
      background-color: #9555af;
    }

    a:hover {
      color: #9050AA;
      border-color: currentColor;
      background-color: white;
    }

    a:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
        0 0 0 1.5px rgba(255, 105, 180, 0.5);
    }