{% extends 'base.html.twig' %}
{% block title %}Images{% endblock %}
{% block body %}

<body style="margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: black;
    color: white;
    ">
<a class="text-muted" href="{{ path('logout') }}"> Logout </a>
<div class="wrapper">
<form action="/homepage/show_favorites" method="post">
    <a href="javascript:;" onclick="parentNode.submit();" id="show_favorite_button">Show my favorites</a>
</form>
<form action="/homepage/show_query_log" method="post">
    <a href="javascript:;" onclick="parentNode.submit();" id="show_favorite_button">Show my query log</a>
</form>
<br>
<br>

    <form action="/homepage/search" method="post">
        <input id="search-box" type="text" name="search-box" placeholder="Search gifs..." autocomplete="on">
        <button type="submit">
            Search
        </button>
    </form>

    
    <form action="/homepage/favorites" method="post">
        <button type="submit" id="favorite_button" style="display: none;">
            Add selected to favorites
        </button>
        <input  name="url_favorites" type="hidden" id="url_favorites" value="" />
    </form>

    <br>

   
    {%  if images is not empty %}
    <br>
        <h5>Your search result! ✅</h5>
                {% for key,image in images.data  %}
                    <div class="gallery" id="{{ image.images.preview_gif.url }}" onclick="pre_save_favorites('{{ image.images.preview_gif.url }}')">
                            <img src="{{ image.images.preview_gif.url }}">
                    </div>
                {% endfor %}
    {%  endif %}

    {%  if images_favorites is not empty %}
    <br>
        <h5>Your favorites!</h5>
                {% for key,image in images_favorites  %}
                    <div class="gallery">
                            <img src="{{ image.url }}">
                    </div>
                {% endfor %}
    {%  endif %}

    {%  if log is not empty %}
    <br>
        <h5>Your search log!</h5>
           {% for key,item in log  %}
                        <li>"{{ item.query }}" - {{ item.date|date('Y-m-d H:i:s') }}</li>
           {% endfor %}
    {%  endif %}

</div>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="image_modal" src="" style="width:200px">

      </div>
      <div class="modal-footer">
        <button type="button" id= "select_image_button" onclick="select_gif()" class="btn btn-primary">Select</button>        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script>
function pre_save_favorites(i) {
  document.getElementById("select_image_button").onclick = function() { 
            document.getElementById("favorite_button").style.display = 'inline-block';
            document.getElementById(i).style.background='yellow';
            document.getElementById(i).style.border = 'solid 4px transparent';
            document.getElementById("url_favorites").value = document.getElementById("url_favorites").value + "," + i;
            $('.modal').modal('hide');

        };
    document.getElementById('image_modal').src=i;
    $(".modal").modal()
}
</script>
{% endblock %}