{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="login-wrapper">
    <div class="form-login-body">
    <section>
    {{ form_start(form, {'action': path('login_check'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </section>
   {% if error %}
   <br>
    <h4>{{ error.messageKey|trans(error.messageData, 'security') }}</h4>
    {% endif %}
    </div>
 
</div>


{% endblock %}
